
# Logs
logs/
*.log
*.txt

# IDE Files
.idea/
.vscode/
.idx/

index_old.html

# Build artifacts
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Temporary files
*.tmp
*.bak
*.swp

**/*.parcel-cache
dist
node_modules

